<div class="card">
  <div class="card-header">
    {{ trip.name }}
  </div>
  <img src="assets/images/{{ trip.image }}" class="card-img-top">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ trip.resort }}
    </h6>
    <p class="card-text" [innerHTML]="trip.description"></p>
    <p class="card-text mb-3 text-muted">
      {{ trip.length }} days for {{ trip.pricePerPerson | currency:'USD':'symbol' }} per person
    </p>
    <div *ngIf="isLoggedIn()">
      <button (click)="editTrip(trip)" class="btn btn-info">Edit Trip</button>
    </div>
  </div>
</div>
